<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <title>Conócenos</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/ranking">Ranking</a></li>
            <li><a href="/plantations">🌱Plantaciones🌱</a></li>
            <li><a href="/knowmore">Saber Más</a></li>
        </ul>
    </nav>
    <section class="section">
        <div class="card">
            <h1>Conócenos</h1>
            <p>Somos un equipo conformado por 3 desarrolladores: Alexander, Jeremy y Michael. Nuestro objetivo es crear conciencia sobre la importancia de cuidar el planeta a través de experiencias interactivas.</p>
            <h2>Nuestras Metas</h2>
            <ul>
                <li>Fomentar la reforestación.</li>
                <li>Concientizar sobre el impacto de los desechos.</li>
                <li>Incentivar la acción individual para el cambio global.</li>
            </ul>
        </div>
    </section>
</body>
</html>
