<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clean it up!!!</title>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/aboutus">Conocenos</a></li>
            <li><a href="/ranking">Ranking</a></li>
            <li><a href="/plantations">🌱Plantaciones🌱</a></li>
            <li><a href="/knowmore">Saber más!</a></li>
        </ul>
    </nav>
    <section class="banner" id="inicio">
        <div class="video-container">
            <video autoplay muted loop playsinline class="bg-video">
                <source src="/videos/videofondo3.mp4" type="video/mp4">
                Tu navegador no soporta videos HTML5.
            </video>
        </div>
        <div class="banner-content">
            <h1>Clean It Up!</h1>
            <a href="/game" class="btn">Jugar</a>
            <a href="/login" class="btn">Login</a>
            <a href="/register" class="btn">Registrarse</a> 
        </div>
    </section>
</body>
</html>
