<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Plantación</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/aboutus">Conócenos</a></li>
            <li><a href="/ranking">Ranking</a></li>
            <li><a href="/knowmore">Saber Más</a></li>
        </ul>
    </nav>
    <section class="section">
        <div class="plantacion-container">
            <h1 class="title">🌱 Plantación 🌱</h1>
            <p class="description">
                Cada vez que un jugador alcance <strong>250 puntos</strong>, se plantará un árbol en su nombre, contribuyendo a un mundo más verde.
            </p>
            <div class="stats">
                <div class="stat">
                    <h2 class="stat-number">100</h2>
                    <p class="stat-label">Árboles por plantar</p>
                </div>
                <div class="stat">
                    <h2 class="stat-number">45</h2>
                    <p class="stat-label">Árboles plantados</p>
                </div>
            </div>
        </div>
    
        <div class="plantacion-list">
            <h2 class="list-title">🌱 Árboles plantados en nombre de nuestros jugadores 🌱</h2>
            <ul class="user-list">
                <li>4 árbol plantado en nombre de <strong>Alexander</strong></li>
                <li>1 árbol plantado en nombre de <strong>Katherine</strong></li>
                <li>2 árbol plantado en nombre de <strong>Alison</strong></li>
                <li>3 árbol plantado en nombre de <strong>KeniaOs</strong></li>
                <li>2 árbol plantado en nombre de <strong>JeremyNakano</strong></li>
                <li>2 árbol plantado en nombre de <strong>Michael</strong></li>
                <li>1 árbol plantado en nombre de <strong>Alejandro</strong></li>
                <li>3 árbol plantado en nombre de <strong>Lana del Rey</strong></li>
            </ul>
        </div>
    </section>    
</body>
</html>





