<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Ranking</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="./index.html">Inicio</a></li>
            <li><a href="./aboutus.html">Conócenos</a></li>
            <li><a href="./plantations.html">🌱Plantaciones🌱</a></li>
            <li><a href="./knowmore.html">Saber Más</a></li>
        </ul>
    </nav>
    <div class="container">
        <section class="sectionRanking">
            <h1>Ranking</h1>
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Usuario</th>
                        <th>Puntos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Alexander</td>
                        <td>1500</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Michael</td>
                        <td>1400</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>JeremyNakano</td>
                        <td>1300</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Katherine</td>
                        <td>1200</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Alison</td>
                        <td>1100</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</body>
</html>
